# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gradle/
.idea/
out/production/classes/META-INF/webfluxproject.main.kotlin_module
out/production/classes/com/ys/webfluxproject/controller/
